.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 30;
}

/* Animations */
@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-screen h1 {
  margin-bottom: 40px;
  opacity: 0; /* Start hidden */
  animation: slideUpFadeIn 0.5s ease-out forwards;
}

