#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ccc;
}

.board {
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}